<!DOCTYPE html>
<html lang="en">
{% include "_static_components/head.njk" %}

<body>
  
  {% include "_static_components/header.njk" %}
  <main id="main">

    {% set rowDefaults = "mt-0 mb-5 g-md-4 g-2" %}

    {% block main %}{% endblock %}
  </main>
  {% include "_static_components/footer.njk" %}

  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  
  <script
		src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous">
  </script>

  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.card-wrapper-slick').slick({
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 1,
        speed: 300,
        variableWidth: true,
        responsive: [
          {
            breakpoint: 1400,
            settings: {
              slidesToShow: 5
            }
          },
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 4
            }
          },
          {
            breakpoint: 992,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>

  <script>
    // Filters and cookie functions

    const SEARCH_INPUT = document.getElementById('home-search-input');

    const FILTERS_BTN = document.getElementById('modal-filter-all');
    const TYPE_BTN = document.getElementById('dropdown-filter-type');
    const LOCATION_BTN = document.getElementById('dropdown-filter-location');
    const AUDIENCE_BTN = document.getElementById('dropdown-filter-audience');

    const TYPE_LIST = document.getElementsByName('typeOption');
    const LOCATION_LIST = document.getElementsByName('locationOption');
    const AUDIENCE_LIST = document.getElementsByName('audienceOption');

    const TYPE_LIST_MODAL = document.getElementsByName('typeOptionModal');
    const LOCATION_LIST_MODAL = document.getElementsByName('locationOptionModal');
    const AUDIENCE_LIST_MODAL = document.getElementsByName('audienceOptionModal');


    window.onload = function() {
      updateSelections();
    }

    function updateSelections() {
      let types = getCookie('typeSelections');
      let locations = getCookie('locationSelections');
      let audiences = getCookie('audienceSelections');

      let nType = 0;
      let nLocation = 0;
      let nAudience = 0;

      TYPE_LIST_MODAL.forEach(function (type) {
        if (types.includes(type.value)) {
          type.checked = true;
          nType++;
        } else {
          type.checked = false;
        }
      });
      TYPE_LIST.forEach(function (type) {
        if (types.includes(type.value)) {
          type.checked = true;
        } else {
          type.checked = false;
        }
      });
      LOCATION_LIST_MODAL.forEach(function (location) {
        if (locations.includes(location.value)) {
          location.checked = true;
          nLocation++;
        } else {
          location.checked = false;
        }
      });
      LOCATION_LIST.forEach(function (location) {
        if (locations.includes(location.value)) {
          location.checked = true;
        } else {
          location.checked = false;
        }
      });
      AUDIENCE_LIST_MODAL.forEach(function (audience) {
        if (audiences.includes(audience.value)) {
          audience.checked = true;
          nAudience++;
        } else {
          audience.checked = false;
        }
      });
      AUDIENCE_LIST.forEach(function (audience) {
        if (audiences.includes(audience.value)) {
          audience.checked = true;
        } else {
          audience.checked = false;
        }
      });
      updateFiltersButton(nType + nLocation + nAudience);
      updateTypeButton(nType);
      updateLocationButton(nLocation);
      updateAudienceButton(nAudience);
    }

    function updateFiltersButton(n) {
      if (n === 0) {
        FILTERS_BTN.textContent = 'Filters';
      } else {
        FILTERS_BTN.textContent = `Filters • ${n}`;
      }
    }
    function updateTypeButton(n) {
      if (n === 0) {
        TYPE_BTN.textContent = 'Type';
      } else {
        TYPE_BTN.textContent = `Type • ${n}`;
      }
    }
    function updateLocationButton(n) {
      if (n === 0) {
        LOCATION_BTN.textContent = 'Location';
      } else {
        LOCATION_BTN.textContent = `Location • ${n}`;
      }
    }
    function updateAudienceButton(n) {
      if (n === 0) {
        AUDIENCE_BTN.textContent = 'Audience';
      } else {
        AUDIENCE_BTN.textContent = `Audience • ${n}`;
      }
    }

    function advancedSearchLink() {
      // set search query, if any
      const query = SEARCH_INPUT.value;
      if (query) setCookie('searchQuery', query, 1);
      window.location.href = "{{ '/advanced-search/' | url}}";
      // set filters
      //const filterType;
      //const filterLocation;
      //const filterAudience;
    }

    // used by modal
    function applyFilters(types, locations, audiences) {
      let typeSelections = [];
      let locationSelections = [];
      let audienceSelections = [];
      types.forEach(function (type) {
        if (type.checked) {
          typeSelections.push(type.value);
        }
      });
      locations.forEach(function (location) {
        if (location.checked) {
          locationSelections.push(location.value);
        }
      });
      audiences.forEach(function (audience) {
        if (audience.checked) {
          audienceSelections.push(audience.value);
        }
      });
      setCookie('typeSelections', typeSelections, 1);
      setCookie('locationSelections', locationSelections, 1);
      setCookie('audienceSelections', audienceSelections, 1);

      updateSelections();
    }

    function clearFilters(types, locations, audiences) {
      setCookie('typeSelections', null, 1);
      setCookie('locationSelections', null, 1);
      setCookie('audienceSelections', null, 1);

      updateSelections();
    }

    // used by dropdowns
    function applyfiltersDropdown(name, items) {
      if (name === 'typeOption') {
        let types = items;
        let typeSelections = [];
        types.forEach(function (type) {
          if (type.checked) {
            typeSelections.push(type.value);
          }
        });
        setCookie('typeSelections', typeSelections, 1);
      }
      if (name === 'locationOption') {
        let locations = items;
        let locationSelections = [];
        locations.forEach(function (loc) {
          if (loc.checked) {
            locationSelections.push(loc.value);
          }
        });
        setCookie('locationSelections', locationSelections, 1);
      }
      if (name === 'audienceOption') {
        let audiences = items;
        let audienceSelections = [];
        audiences.forEach(function (audience) {
          if (audience.checked) {
            audienceSelections.push(audience.value);
          }
        });
        setCookie('audienceSelections', audienceSelections, 1); 
      }
      
      updateSelections();
    }

    function clearFiltersDropdown(name) {
      if (name === 'typeOption') {
        setCookie('typeSelections', null, 1);
      }
      if (name === 'locationOption') {
        setCookie('locationSelections', null, 1);
      }
      if (name === 'audienceOption') {
        setCookie('audienceSelections', null, 1);
      }
      updateSelections();
    }

    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
  </script>

</body>
</html>
