<!DOCTYPE html>
<html lang="en">
{% include "_static_components/head.njk" %}

<body>
  
  {% include "_static_components/header.njk" %}
  <main id="main">

    {% set rowDefaults = "mt-0 mb-5 g-md-4 g-2" %}

    {% block main %}{% endblock %}
  </main>
  {% include "_static_components/footer.njk" %}

  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  
  <script
		src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous">
  </script>

  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
  </script>



  <script>

    const FORM = document.getElementById("main-search-form");
    function handleForm(e) {
      e.preventDefault();
    } 
    FORM.addEventListener('submit', handleForm);

    const picker = document.querySelector("duet-date-picker")
    const output = document.querySelector("output")

    picker.addEventListener("duetChange", function(event) {
      console.log(event.detail.value);
      setCookie('date', event.detail.value, 1);
      updateSelections();
    });

    function advancedSearchLink() {
      // set search query, if any
      const query = SEARCH_INPUT.value;
      if (query)
        setCookie('searchQuery', query, 1);
      else
        setCookie('searchQuery', '', 1);

      const date = DATE.value;
      if (date != '')
        setCookie('date', date, 1);
      else
        setCookie('date', '', 1);

      window.location.href = "{{ '/advanced-search/' | url}}";
    }

    // Filters and cookie functions

    const SEARCH_INPUT = document.getElementById('home-search-input');

    const DATE = document.getElementById('date');

    const FILTERS_BTN = document.getElementById('modal-filter-all');
    const TYPE_BTN = document.getElementById('dropdown-filter-type');
    const LOCATION_BTN = document.getElementById('dropdown-filter-location');
    const AUDIENCE_BTN = document.getElementById('dropdown-filter-audience');

    const TYPE_LIST = document.getElementsByName('typeOption');
    const LOCATION_LIST = document.getElementsByName('locationOption');
    const AUDIENCE_LIST = document.getElementsByName('audienceOption');

    const TYPE_LIST_MODAL = document.getElementsByName('typeOptionModal');
    const LOCATION_LIST_MODAL = document.getElementsByName('locationOptionModal');
    const AUDIENCE_LIST_MODAL = document.getElementsByName('audienceOptionModal');

    const FILTER_DISMISS_LIST = document.getElementById('filter-dismiss-list');

    const DROPDOWN_SVG = `<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
<path d="M1.41 0.0799561L6 4.66996L10.59 0.0799561L12 1.49996L6 7.49996L0 1.49996L1.41 0.0799561Z" fill="black"/></svg>`;

    const FILTER_DISMISS_SVG = `<svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="2 0 20 23" fill="none"><path d="M10 0C15.53 0 20 4.47 20 10C20 15.53 15.53 20 10 20C4.47 20 0 15.53 0 10C0 4.47 4.47 0 10 0ZM13.59 5L10 8.59L6.41 5L5 6.41L8.59 10L5 13.59L6.41 15L10 11.41L13.59 15L15 13.59L11.41 10L15 6.41L13.59 5Z" fill="black"/></svg>`;


    function updateSelections() {
      let types = getCookie('typeSelections');
      let locations = getCookie('locationSelections');
      let audiences = getCookie('audienceSelections');

      let nType = 0;
      let nLocation = 0;
      let nAudience = 0;

      TYPE_LIST_MODAL.forEach(function (type) {
        if (types.includes(type.value)) {
          type.checked = true;
          nType++;
        } else {
          type.checked = false;
        }
      });
      TYPE_LIST.forEach(function (type) {
        if (types.includes(type.value)) {
          type.checked = true;
        } else {
          type.checked = false;
          dismissFilterNoUpdate(type.value);
        }
      });
      LOCATION_LIST_MODAL.forEach(function (location) {
        if (locations.includes(location.value)) {
          location.checked = true;
          nLocation++;
        } else {
          location.checked = false;
        }
      });
      LOCATION_LIST.forEach(function (location) {
        if (locations.includes(location.value)) {
          location.checked = true;
        } else {
          location.checked = false;
          dismissFilterNoUpdate(location.value);
        }
      });
      AUDIENCE_LIST_MODAL.forEach(function (audience) {
        if (audiences.includes(audience.value)) {
          audience.checked = true;
          nAudience++;
        } else {
          audience.checked = false;
        }
      });
      AUDIENCE_LIST.forEach(function (audience) {
        if (audiences.includes(audience.value)) {
          audience.checked = true;
        } else {
          audience.checked = false;
          dismissFilterNoUpdate(audience.value);
        }
      });
      //updateFiltersButton(nType + nLocation + nAudience);
      updateTypeButton(nType);
      updateLocationButton(nLocation);
      updateAudienceButton(nAudience);

      updateFiltersBar();

      filterResults();
    }

    function updateFiltersButton(n) {
      if (n === 0) {
        FILTERS_BTN.innerHTML = `Filters ${DROPDOWN_SVG}`;
      } else {
        FILTERS_BTN.innerHTML = `Filters • ${DROPDOWN_SVG}`;
      }
    }
    function updateTypeButton(n) {
      if (n === 0) {
        TYPE_BTN.innerHTML = `What ${DROPDOWN_SVG}`;
      } else {
        TYPE_BTN.innerHTML = `What • ${n} ${DROPDOWN_SVG}`;
      }
    }
    function updateLocationButton(n) {
      if (n === 0) {
        LOCATION_BTN.innerHTML = `Where ${DROPDOWN_SVG}` ;
      } else {
        LOCATION_BTN.innerHTML = `Where • ${n} ${DROPDOWN_SVG}`;
      }
    }
    function updateAudienceButton(n) {
      if (n === 0) {
        AUDIENCE_BTN.innerHTML = `Who's Visiting ${DROPDOWN_SVG}`;
      } else {
        AUDIENCE_BTN.innerHTML = `Who's Visiting • ${n} ${DROPDOWN_SVG}`;
      }
    }

    function updateFiltersBar() {
      const searchCookie = getCookie('searchQuery');
      const typeCookie = getCookie('typeSelections');
      const locationCookie = getCookie('locationSelections');
      const audienceCookie = getCookie('audienceSelections');
      const dateCookie = getCookie('date');

      types = typeCookie.split(',');
      locations = locationCookie.split(',');
      audiences = audienceCookie.split(',');

      // remove all filters from filter bar
      const allFilterBtns = document.querySelectorAll(".filter-dismiss-btn");
      allFilterBtns.forEach(btn => btn.remove());

      if (typeCookie !== '') {
        types.forEach(function(type) {
          if (document.querySelector(`[data-filter="${type}"]`)) return;
          const node = document.createElement("a");
          node.href = `#`;
          node.dataset.filter = `${type}`;
          node.classList.add(`filter-dismiss-btn`);
          node.classList.add(`me-2`);
          node.setAttribute("onclick", `dismissFilter("${type}");return false;`);
          node.innerHTML = `${FILTER_DISMISS_SVG}${type}`;
          FILTER_DISMISS_LIST.appendChild(node);
        });
      }
      if (locationCookie !== '') {
        locations.forEach(function(location) {
          if (document.querySelector(`[data-filter="${location}"]`)) return;
          const node = document.createElement("a");
          node.href = `#`;
          node.dataset.filter = `${location}`;
          node.classList.add(`filter-dismiss-btn`);
          node.classList.add(`me-2`);
          node.setAttribute("onclick", `dismissFilter("${location}");return false;`);
          node.innerHTML = `${FILTER_DISMISS_SVG}${location}`;
          FILTER_DISMISS_LIST.appendChild(node);
        });
      }
      if (audienceCookie !== '') {
        audiences.forEach(function(audience) {
          if (document.querySelector(`[data-filter="${audience}"]`)) return;
          const node = document.createElement("a");
          node.href = `#`;
          node.dataset.filter = `${audience}`;
          node.classList.add(`filter-dismiss-btn`);
          node.classList.add(`me-2`);
          node.setAttribute("onclick", `dismissFilter("${audience}");return false;`);
          node.innerHTML = `${FILTER_DISMISS_SVG}${audience}`;
          FILTER_DISMISS_LIST.appendChild(node);
        });
      }

      if (searchCookie !== '') {
        const node = document.createElement("a");
        node.href = `#`;
        node.dataset.filter = `search`;
        node.classList.add(`filter-dismiss-btn`);
        node.classList.add(`me-2`);
        node.setAttribute("onclick", `dismissFilterSearch();return false;`);
        node.innerHTML = `${FILTER_DISMISS_SVG}${searchCookie}`;
        FILTER_DISMISS_LIST.appendChild(node);
      }

      if (dateCookie !== '') {
        const node = document.createElement("a");
        node.href = `#`;
        node.dataset.filter = `date`;
        node.classList.add(`filter-dismiss-btn`);
        node.classList.add(`me-2`);
        node.setAttribute("onclick", `dismissFilterDate();return false;`);
        node.innerHTML = `${FILTER_DISMISS_SVG}${dateCookie}`;
        FILTER_DISMISS_LIST.appendChild(node);
      }
    }

    const dismissFilterNoUpdate = function (data) {
      const element = document.querySelector(`[data-filter="${data}"]`);
      if (element) element.remove();
    }

    const dismissFilter = function (data) {
      const element = document.querySelector(`[data-filter="${data}"]`);
      if (element) element.remove();

      const searchCookie = getCookie('searchQuery');
      const typeCookie = getCookie('typeSelections');
      const locationCookie = getCookie('locationSelections');
      const audienceCookie = getCookie('audienceSelections');
      const dateCookie = getCookie('date');

      if (typeCookie.includes(data)) {
        items = typeCookie.split(',');
        items = items.filter(e => e !== data);
        setCookie('typeSelections', items, 1);
      }
      if (locationCookie.includes(data)) {
        items = locationCookie.split(',');
        items = items.filter(e => e !== data);
        setCookie('locationSelections', items, 1);
      }
      if (audienceCookie.includes(data)) {
        items = audienceCookie.split(',');
        items = items.filter(e => e !== data);
        setCookie('audienceSelections', items, 1);
      }

      updateSelections();
    }

    const dismissFilterSearch = function () {
      const element = document.querySelector(`[data-filter="search"]`);
      if (element) element.remove();
      setCookie('searchQuery', '', 1);
      fillFields();
      updateSelections();
    }
    const dismissFilterDate = function () {
      const element = document.querySelector(`[data-filter="date"]`);
      if (element) element.remove();
      setCookie('date', '', 1);
      fillFields();
      updateSelections();
    }

    // used by modal
    function applyFilters(types, locations, audiences) {
      let typeSelections = [];
      let locationSelections = [];
      let audienceSelections = [];
      types.forEach(function (type) {
        if (type.checked) {
          typeSelections.push(type.value);
        }
      });
      locations.forEach(function (location) {
        if (location.checked) {
          locationSelections.push(location.value);
        }
      });
      audiences.forEach(function (audience) {
        if (audience.checked) {
          audienceSelections.push(audience.value);
        }
      });
      setCookie('typeSelections', typeSelections, 1);
      setCookie('locationSelections', locationSelections, 1);
      setCookie('audienceSelections', audienceSelections, 1);

      updateSelections();
    }

    function clearFilters(types, locations, audiences) {
      setCookie('typeSelections', '', 1);
      setCookie('locationSelections', '', 1);
      setCookie('audienceSelections', '', 1);
      dismissFilterSearch();
      dismissFilterDate();
    }

    // used by dropdowns
    function applyfiltersDropdown(name, items) {
      if (name === 'typeOption') {
        let types = items;
        let typeSelections = [];
        types.forEach(function (type) {
          if (type.checked) {
            typeSelections.push(type.value);
          }
        });
        setCookie('typeSelections', typeSelections, 1);
      }
      if (name === 'locationOption') {
        let locations = items;
        let locationSelections = [];
        locations.forEach(function (loc) {
          if (loc.checked) {
            locationSelections.push(loc.value);
          }
        });
        setCookie('locationSelections', locationSelections, 1);
      }
      if (name === 'audienceOption') {
        let audiences = items;
        let audienceSelections = [];
        audiences.forEach(function (audience) {
          if (audience.checked) {
            audienceSelections.push(audience.value);
          }
        });
        setCookie('audienceSelections', audienceSelections, 1); 
      }
      
      updateSelections();
    }

    function clearFiltersDropdown(name) {
      if (name === 'typeOption') {
        setCookie('typeSelections', '', 1);
      }
      if (name === 'locationOption') {
        setCookie('locationSelections', '', 1);
      }
      if (name === 'audienceOption') {
        setCookie('audienceSelections', '', 1);
      }
      updateSelections();
    }

    // 'Browse by' links & filters //////////////

    function browseLocation(loc) {
      setCookie('typeSelections', '', 1);
      setCookie('audienceSelections', '', 1);
      setCookie('searchQuery', '', 1);
      setCookie('date', '', 1);
      switch(loc) {
        case 'Online':
          setCookie('locationSelections', 'Online', 1);
          break;
        case 'Norwich Castle':
          setCookie('locationSelections', 'Norwich Castle', 1);
          break;
        case `Strangers' Hall`:
          setCookie('locationSelections', `Strangers' Hall`, 1);
          break;
        case 'Time & Tide':
          setCookie('locationSelections', 'Time & Tide', 1);
          break;
        case 'Gressenhall':
          setCookie('locationSelections', 'Gressenhall', 1);
          break;
        case 'Museum of Norwich':
          setCookie('locationSelections', 'Museum of Norwich', 1);
          break;
        case 'Elizabethan House':
          setCookie('locationSelections', 'Elizabethan House', 1);
          break;
        case 'Lynn':
          setCookie('locationSelections', 'Lynn', 1);
          break;
        case 'Cromer':
          setCookie('locationSelections', 'Cromer', 1);
          break;
        case 'Tolhouse Gaol':
          setCookie('locationSelections', 'Tolhouse Gaol', 1);
          break;
        case 'Ancient House':
          setCookie('locationSelections', 'Ancient House', 1);
          break;
        default:
          console.error(`no match for "browse by location"`);
      }
      window.location.href = "{{ '/advanced-search/' | url}}";
    }
    function browseType(type) {
      let currentCookie = getCookie('typeSelections');

      if (currentCookie != '') {
        currentCookie = currentCookie.concat(',')
      }

      switch(type) {
        case 'Talks':
          setCookie('typeSelections', `${currentCookie.includes('Talks') ? currentCookie.slice(0, -1) : currentCookie.concat('Talks')}`, 1);
          break;
        case 'Tours':
          setCookie('typeSelections', `${currentCookie.includes('Tours') ? currentCookie.slice(0, -1) : currentCookie.concat('Tours')}`, 1);
          break;
        case 'Family activities':
          setCookie('typeSelections', `${currentCookie.includes('Family activities') ? currentCookie.slice(0, -1) : currentCookie.concat('Family activities')}`, 1);
          break;
        case 'Exhibitions':
          setCookie('typeSelections', `${currentCookie.includes('Exhibitions') ? currentCookie.slice(0, -1) : currentCookie.concat('Exhibitions')}`, 1);
          break;
        case 'Parties':
          setCookie('typeSelections', `${currentCookie.includes('Parties') ? currentCookie.slice(0, -1) : currentCookie.concat('Parties')}`, 1);
          break;
        case 'Workshops':
          setCookie('typeSelections', `${currentCookie.includes('Workshops') ? currentCookie.slice(0, -1) : currentCookie.concat('Workshops')}`, 1);
          break;
        default:
          console.error(`no match for "browse by type"`);
      }
      
      if (!window.location.href.includes('/advanced-search/')) {
        window.location.href = "{{ '/advanced-search/' | url}}";
      } else {
        updateSelections();
      }
    }

    function browseAudience(audience) {
      let currentCookie = getCookie('audienceSelections');

      if (currentCookie != '') {
        currentCookie = currentCookie.concat(',')
      }

      switch(audience) {
        case 'All':
          setCookie('audienceSelections', `${currentCookie.includes('All') ? currentCookie.slice(0, -1) : currentCookie.concat('All')}`, 1);
          break;
        case 'Adults':
          setCookie('audienceSelections', `${currentCookie.includes('Adults') ? currentCookie.slice(0, -1) : currentCookie.concat('Adults')}`, 1);
          break;
        case 'Children':
          setCookie('audienceSelections', `${currentCookie.includes('Children') ? currentCookie.slice(0, -1) : currentCookie.concat('Children')}`, 1);
          break;
        default:
          console.error(`no match for "browse by audience"`);
      }
      
      if (!window.location.href.includes('/advanced-search/')) {
        window.location.href = "{{ '/advanced-search/' | url}}";
      } else {
        updateSelections();
      }
    }


    /////////////////////////////////////////////

    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.card-wrapper-slick').slick({
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 1,
        speed: 300,
        variableWidth: true,
        responsive: [
          {
            breakpoint: 1400,
            settings: {
              slidesToShow: 5
            }
          },
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 4
            }
          },
          {
            breakpoint: 992,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>

</body>
</html>
