<footer>
  <div class="container py-5">
    <div class="footer-logo d-flex justify-content-center mb-md-4 ">
      <a href="https://www.museums.norfolk.gov.uk"><img src="{{ '/img/museums-logo.png' | url }}" alt="Norfolk Museums Logo"></a>
    </div>
    <hr>
    <div class="row py-3">
      <div class="col-12 col-lg-6">
        <ul class="links-list">
          <li><a href="/">Cookies</a></li>
          <li><a href="/">About NMS</a></li>
          <li><a href="/">Copyright and reproduction fees</a></li>
          <li><a href="/">Public task statement</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-6">
        <ul class="links-list">
          <li><a href="/">NMS privacy statement</a></li>
          <li><a href="/">Accessibility statement for Norfolk Museums</a></li>
          <li><a href="/">Contact us</a></li>
        </ul>
      </div>
      <div class="col-12 mt-lg-5">
        <hr class="my-4 my-lg-0 mb-lg-4">
        <p class="text-center">&copy 2022 Norfolk Museums</p>
      </div>
    </div>
  </div>
</footer>
