.duet-date__input-wrapper {
  input {
    border-radius: 10px;
  }
}

.duet-date__input {
  padding: 10px 50px 10px 10px;
  height: 40px;
}

.duet-date__toggle {
  border-radius: 0px 10px 10px 0px;
  &:focus {
    outline: solid $focus-colour 2px;
    box-shadow: none;
  }
  &:focus:not(:focus-visible) {
    outline: solid $focus-colour 2px;
  }
}

.duet-date__day:not(.is-month), .duet-date__day[aria-disabled="true"] {

  &:hover {
    opacity: 1;
  }

  &:hover::before {
    background-color: transparent;
  }
}