.museums-events-stage {
  color: white;
  height: 338px;
  background: rgba(0, 35, 93, 0.8);
}

.stage-search {
  height: 40px;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin: 10px 0 10px 0;
  }

  input {
    border: none;
    border-radius: 5px 0px 0px 5px;
    &:focus {
      transition: none;
      border-color: $focus-colour;
      outline: solid 4px $focus-colour;
      box-shadow: none;
    }
  }
  button {
    background-color: #006666;
    min-width: 130px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;

    .search-text-long {
      display: inline;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .search-text-short {
      display: none;
      @include media-breakpoint-down(md) {
        display: inline;
      }
    }

    @include media-breakpoint-down(sm) {
      height: 40px;
    }

    &:hover {
      color: white;
      background-color: $dark;
    }

    &:focus {
      transition: none;
      border-color: $focus-colour;
      background-color: $focus-colour;
      color: $focus-text-colour;
      outline: none;
      box-shadow: none;
      path {
        fill: $focus-text-colour;
      }
    }
    &:active:focus {
      box-shadow: none;
    }

    svg {
      transform: translateX(-20%);
      margin-right: 5px;
    }
  }
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;

  .filter-separator {
    display: flex;
    flex-wrap: wrap;
    .filter-btn {
      @include media-breakpoint-down(lg) {
        display: none;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .filter-btn-all {
      display: none;
      @include media-breakpoint-down(lg) {
        display: inline-flex;
      }
    }
  }

  .filter-btn {
    display: inline-flex;
    border-radius: 10px;
    background-color: white;
    color: $museums-blue;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    max-height: 40px;
    min-width: 0px;
  }
  .filter-btn.date-filter {
    position: relative;
    min-width: 200px;
    padding-right: 60px;

    .icon-space {
      position: absolute;
      width: 40px;
      height: 100%;
      right: 0;
      border-radius: 0px 10px 10px 0px;
      background-color: $gray-200;
      @include ani;

      svg path {
        fill: $gray-600;
      }
    }

    &:hover {
      .icon-space {
        background-color: $gray-700;

        svg path {
          fill: $gray-200;
        }
      }
    }
    &:focus {
      .icon-space {
        background-color: $focus-text-colour;

        svg path {
          fill: $focus-colour;
        }
      }
    }
  }
}
