///////////// IMPORTANT /////////////
// changing all #767676 to #767676 //
/////////////////////////////////////

.museums-events-stage {
  color: white;
  height: 300px;
  background: rgba(0, 35, 93, 0.8);

  @include media-breakpoint-down(md) {
    height: 250px;
  }
}
.museums-events-stage.advanced-search-stage {
  height: 340px;
  @include media-breakpoint-down(md) {
    height: 320px;
  }
}

.advanced-search-link {
  text-align: center;
  color: white;
  font-size: 1.25rem;
  &:hover {
    text-decoration: underline;
    color: white;
  }
  &:focus {
    text-decoration: underline;
    color: $focus-text-colour;
    background-color: $focus-colour;
  }
}

.stage-search {
  height: 40px;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin: 10px 0 10px 0;
  }

  input {
    border: none;
    border-radius: 5px 0px 0px 5px;
    &:focus {
      transition: none;
      border-color: $focus-colour;
      outline: solid 4px $focus-colour;
      box-shadow: none;
    }
    @include media-breakpoint-down(sm) {
      // &::-webkit-input-placeholder {
      //   color: transparent;
      // }
      // &:-moz-placeholder {
      //   color: transparent;
      // }
      // &::-moz-placeholder {
      //   color: transparent;
      // }
      &::placeholder {
        color: transparent;
      }
      // &::input-placeholder {
      //   color: transparent;
      // }
    }
  }
  .home-search-btn {
    background-color: #006666;
    min-width: 130px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;

    .search-text-long {
      display: inline;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .search-text-short {
      display: none;
      @include media-breakpoint-down(md) {
        display: inline;
      }
    }

    @include media-breakpoint-down(sm) {
      height: 40px;
    }

    &:hover {
      color: white;
      background-color: $dark;
    }

    &:focus {
      transition: none;
      border-color: $focus-colour;
      background-color: $focus-colour;
      color: $focus-text-colour;
      outline: none;
      box-shadow: none;
      path {
        fill: $focus-text-colour;
      }
    }
    &:active:focus {
      box-shadow: none;
    }

    svg {
      transform: translateX(-20%);
      margin-right: 5px;
    }
  }
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;

  .filter-btn {
    display: inline-flex;
    border-radius: 10px;
    background-color: white;
    color: $museums-blue;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    max-height: 40px;
    min-width: 0px;
    width: calc(25% - 10px);
    border: solid white 2px;
    justify-content: center;
    position: relative;

    svg {
      position: absolute;
      right: 10px;
      path {
        fill: $museums-blue;
      }
    }

    &:last-of-type {
      margin-right: 0px;
    }

    &:hover {
      color: white;
      background-color: $dark;

      svg path {
        fill: white;
      }
    }

    &:focus {
      color: $focus-text-colour;
      background-color: $focus-colour;
      border-color: $focus-text-colour;
      outline: none;
      box-shadow: none;

      svg path {
        fill: $focus-text-colour;
      }
    }
    &:active:focus {
      box-shadow: none;
    }
    @include media-breakpoint-down(lg) {
      font-size: 1rem;
      padding: 10px 20px 10px 5px;
    }
    @include media-breakpoint-down(md) {
      padding: 10px 20px 10px 5px;
    }
    @include media-breakpoint-down(sm) {
      height: 40px;
    }
  }

  .duet-wrapper {
    width: calc(25% - 10px);
    margin-right: 10px;
  }

  .filter-btn-all {
    display: none;
  }

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    .filter-btn,
    .duet-wrapper {
      margin-right: 3px;
      margin-bottom: 6px;
      width: calc(50% - 3px);
      &:nth-child(even) {
        margin-right: 0px;
      }
    }
  }
}

// Filter modal /////////////////////

.filter-list {
  padding-left: 0;
  list-style: none;
}

.event-dates-modal {
  .modal-dialog {
    max-width: 800px;
  }
  .modal-content {
    border-radius: 15px;
  }
  .modal-header {
    padding: 24px 24px 20px 24px;
    border-bottom: solid $gray-300 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > p {
        font-size: 1.375rem;
        font-weight: 700;
        color: #767676;
        margin-bottom: 0;
      }
      > .btn-close {
        margin: 0;
      }
    }
  }
  .modal-body {
    padding: 24px;

    .date-list {
      list-style: none;
      padding: 0;
      > li {
        font-size: 1.125rem;
        font-weight: 600;
        color: $gray-700;
        margin-bottom: 5px;
      }
    }
  }
}

.event-image-section {
  @include media-breakpoint-down(sm) {
    padding: 0;
    margin: 0;

    .container {
      padding: 0;
      margin: 0;
    }
  }
}

.event-image {
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  height: 400px;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-down(lg) {
    height: 350px;
  }
  @include media-breakpoint-down(md) {
    height: 300px;
  }
  @include media-breakpoint-down(sm) {
    height: 200px;
    border-radius: 0px;
  }
}

.event-booking-card {
  box-shadow: $object-shadow;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .price {
    margin-bottom: 16px;
    .detail {
      color: #767676;
      font-size: 1.125rem;
      font-weight: 600;
    }
  }

  .btn {
    font-weight: 600;
    font-size: 1.125rem;
    background: linear-gradient(88.32deg, rgba(144, 243, 154, 0.49) -12.36%, #29a258 106.24%), #00823b;
    border: none;
    max-width: 400px;
    width: 100%;
    align-self: center;

    &:hover {
      color: white;
      background: #198754;
    }

    &:focus {
      transition: none;
      border-color: $focus-colour;
      background: $focus-colour;
      color: $focus-text-colour;
      outline: none;
      box-shadow: none;
      path {
        fill: $focus-text-colour;
      }
    }
    &:active:focus {
      box-shadow: none;
    }
  }

  @include media-breakpoint-down(lg) {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 30px 20px;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    display: none;

    .price {
      margin: 0;
    }

    .btn {
      align-self: auto;
      max-width: 200px;
    }
  }

  @include media-breakpoint-down(sm) {
    .btn {
      width: auto;
    }
  }
}
.event-booking-card.sticky {
  display: none;
  margin-top: 40px;
  @include media-breakpoint-down(lg) {
    display: flex;
  }
}

.event-content {
  .location-text {
    margin-bottom: 8px;
    color: #cf171d;
  }
  .event-description {
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 0;
  }
}

.location-wrapper {
  display: flex;
  flex-wrap: nowrap;

  .location-details {
    margin-left: 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    .location-map {
      margin-right: 20px;
    }
    .location-details {
      margin-left: 0px;
    }
  }
}

.date-card {
  position: relative;
  padding: 10px;

  .icon {
    position: absolute;
  }
  .body {
    padding-left: 40px;
    .main-heading {
      font-size: 1.25rem;
      font-weight: 800;
      color: #767676;
      margin-bottom: 6px;
    }
    .date-list {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 6px;

      li {
        font-weight: 700;
      }
    }
    .more-dates-link {
      background-color: transparent;
      border: none;
      outline: none;
      color: #006666;
      font-weight: 700;
      font-size: 1.125rem;
      padding: 0;
      margin: 0;
      display: inline;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        color: $focus-text-colour;
        background-color: $focus-colour;
        text-decoration: underline;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 25px;
    border-bottom: solid 1px $gray-400;
  }
}

.card.event-card {
  box-shadow: none;
  background-color: transparent;

  .card-body {
    background-color: transparent;
    padding: 20px 0 0 0;

    .card-title {
      font-weight: 800;
    }

    .card-text {
      color: #767676;
    }

    .card-link {
      background-color: #006cf4;
      color: white;
      border-radius: 6px;
      display: block;
      padding: 10px 20px;
      margin-top: 10px;
      width: 100%;

      &:hover {
        background-color: $link-colour-hover;
      }
      &:focus {
        text-decoration: underline;
        color: $focus-text-colour;
        background-color: $focus-colour;
        outline: solid $focus-text-colour 2px;
        outline-offset: -2px;
      }
    }
  }

  &:hover {
    .img-wrapper img {
      transform: none;
    }
    .card-title {
      text-decoration: none;
    }
  }

  &:focus-within {
    background-color: transparent;
    outline: solid 4px $focus-colour;
    transition: none;
    box-shadow: none;

    img {
      transform: none;
    }

    .card-text {
      color: $focus-text-colour;
    }
    .card-location {
      color: $focus-text-colour;
    }
    .card-date {
      color: $focus-text-colour;
    }
    .card-extra-info {
      color: $focus-text-colour;
    }
    .flair {
      color: white;
      background-color: $focus-text-colour;
    }

    .card-title a {
      color: $focus-text-colour;
      font-weight: 700;
      border: none;
      outline: none;
      text-decoration: underline;
    }
  }
}

.card.museum-card {
  border-radius: 8px;

  .type {
    display: none;
  }

  .date-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    box-shadow: $object-shadow;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .month {
      padding: 0px 20px;
      background-color: #d82929;
      color: $light;
      font-weight: 700;
      text-align: center;
    }
    .day {
      padding: 4px 16px;
      background-color: $light;
      color: #767676;
      font-weight: 700;
      font-size: 1.25rem;
      text-align: center;
    }
  }

  .card-body {
    .card-title a {
      font-weight: 800;
    }
    .card-location {
      margin: 0;
      font-weight: 700;
    }
    .card-date {
      margin: 0;
      font-weight: 600;
    }
    .card-text {
      color: #767676;
      font-weight: 500;
    }
    .flair {
      font-size: 1.5rem;
      color: $dark;
      background-color: transparent;
      padding: 0;
      font-weight: 800;
    }
    .card-extra-info {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
    &:focus-within {
      box-shadow: none;
    }

    .img-wrapper {
      max-height: 84px;
    }

    .card-body {
      padding: 5px 10px 10px 10px;

      .card-location {
        font-size: 0.875rem;
      }
      .card-date {
        font-size: 0.875rem;
      }
      .card-text {
        font-size: 0.875rem;
      }
      .card-title {
        margin-bottom: 0px;
        font-size: 1.25rem;
      }
      .flair {
        margin: 0px;
        font-size: 1.25rem;
      }
    }
  }
  &:focus-within {
    .card-body {
      .card-text {
        color: $focus-text-colour;
      }
    }
  }
}
.card.museum-card.time-and-tide {
  .card-location {
    color: #161e69;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.cromer {
  .card-location {
    color: #0070a5;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.elizabethan {
  .card-location {
    color: #cf171d;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.strangers-hall {
  .card-location {
    color: #b32017;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.lynn {
  .card-location {
    color: #80623c;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.gressenhall {
  .card-location {
    color: #597730;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.ancient-house {
  .card-location {
    color: #4c7285;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}
.card.museum-card.online {
  .card-location {
    color: $primary;
  }
  &:focus-within {
    .card-location {
      color: $focus-text-colour;
    }
  }
}

// filters and dropdowns ////////////////////////////////////////////

.selection-item {
  font-weight: 600;
  color: #767676;
  padding: 5px 20px;
  font-size: 1.125rem;
  margin: 0;

  &:last-child {
    padding: 5px 20px 18px 20px;
  }

  &:focus-within {
    .form-check-input {
      outline: solid $focus-colour 4px !important;
      border: solid $focus-text-colour 3px !important;
    }
  }

  > a {
    color: #767676;

    &:hover {
      color: black;
    }
  }

  .form-check-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .form-check-input {
      background-color: $light;
      border: solid #767676 2px;
      min-width: 34px;
      min-height: 34px;
      margin: 0px 10px 0px 0px;

      &:active {
        box-shadow: none;
      }
      &:focus {
        box-shadow: none;
      }
      &:checked {
        box-shadow: none;
        background-color: $light;
        color: $dark;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 342.357 342.357' style='enable-background:new 0 0 342.357 342.357%3B' xml:space='preserve'%3E%3Cpolygon points='290.04 33.286 118.861 204.427 52.32 137.907 0 190.226 118.862 309.071 342.357 85.606 '/%3E%3C/svg%3E");
        background-size: 24px 24px;
      }
    }
    // --- not currently used:
    .text-wrapper {
      margin-left: 10px;
      .smaller-text {
        color: #767676;
        margin: 0;
        font-size: 16px;
      }
    }
    // ---
    &:focus-within {
      .text-wrapper .smaller-text {
        color: $focus-text-colour;
      }
    }
  }
}

.dropdown-menu {
  background-color: white;
  border: solid $gray-700 1px;
  border-radius: 6px;
  max-height: 295px;
  min-width: 400px;
  overflow-y: scroll;
  position: relative;

  @include media-breakpoint-down(sm) {
    width: 100%;
    min-width: 0px;
  }

  .dropdown-top-section {
    padding: 20px 20px 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .dropdown-heading {
      font-weight: 700;
      margin: 0;
    }
    .close {
      background-color: gray;
      max-width: 50px !important;
    }
  }
}
.dropdown-menu.show {
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.6);
}

.filters-modal {
  .modal-content {
    border-radius: 15px;
  }
}

.btn-dismiss-dropdown {
  &:focus {
    transition: none;
    border-color: $focus-colour;
    background-color: $focus-colour;
    color: $focus-text-colour;
    outline: none;
    box-shadow: none;
    path {
      fill: $focus-text-colour;
    }
  }
  &:active:focus {
    box-shadow: none;
  }
}

.dropdown-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  margin: 0;
  width: 100%;
  position: sticky;
  bottom: 0px;
  border-top: solid 1px $gray-500;
  background-color: white;
  list-style-type: none;

  .filter-control-btn {
    width: auto;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    background-color: white;
    border-color: $dark;
    outline: none;
    box-shadow: none;
    font-weight: 600;
    @include ani;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      background-color: $focus-colour;
      color: $focus-text-colour;
    }
  }
  .clear-filter {
    color: $gray-700;
    border: none;
    text-decoration: none;
    margin: none;
    padding: none;
    &:hover {
      background-color: white;
      color: black;
      text-decoration: underline;
    }
    &:focus {
      color: $focus-text-colour;
      text-decoration: underline;
      background-color: $focus-colour;
    }
  }
  .apply-filter {
    color: white;
    background-color: #006666;
    border: none;
  }
}
.dropdown-bottom-section.modal-bottom-section {
  border-top: none;
}

.filters-section {
  border-bottom: solid 2px $museums-blue;
}
.filters-bar {
  display: flex;
  justify-content: space-between;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
  span {
    font-weight: 600;
    font-size: 1.25rem;
  }
  .dismiss-all {
    //align-self: flex-end;
    align-self: flex-start;
    min-width: 110px;
  }
  .filter-dismiss {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;

    @include media-breakpoint-down(sm) {
      .filter-dismiss-btn {
        width: 100%;
      }
    }
  }
}
