{% set title = "Advanced search - Museums Events" %}

{% extends "template.njk" %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% block main %}
  <section class="museums-events-stage" style="background: linear-gradient(to right, rgba(0, 35, 93, 0.8), rgba(0, 35, 93, 0.8)), url('/museums-events/public/img/stage-img-1.jpg');">
    <div class="container">
      <div class="stage-search">
        <h1 class="text-center mt-md-4 mb-md-5">Museums event search</h1>
        <form class="form-inline d-flex stage-search" action="/search.html">
          <input class="form-control mr-sm-2" type="search" placeholder="For example &quot;Roman&quot;" aria-label="Search">
          <button id="home-search-button" class="btn btn-outline-light home-search-btn d-inline-flex" type="submit"><span class="search-text-long">Search events</span><span class="search-text-short">Search</span></button>
        </form>
        <div class="filters-wrapper my-3">
          <div class="filters-1 mb-3 mb-md-0">
            <div class="duet-wrapper me-1">
              <label class="h5" for="date">Date to</label>
              <duet-date-picker identifier="date"></duet-date-picker>
            </div>
            <div class="duet-wrapper">
              <label class="h5" for="date">Date from</label>
              <duet-date-picker identifier="date"></duet-date-picker>
            </div>
          </div>
          <div class="filters-2">
            <div>
              <h2 class="h5">Refine</h2>
              <div class="filter-separator">
                <button id="dropdown-filter-type" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside" type="button" class="btn btn-primary filter-btn">Type</button>
                      <ul class="dropdown-menu" aria-labelledby="dropdown-filter-type">
                        <div class="dropdown-top-section">
                          <h3 class="dropdown-heading h4">Event type</h3>
                          {# <button type="button" class="btn-close" data-bs-toggle="dropdown" aria-label="Close"></button> #}
                        </div>
                        <li class="selection-item">
                          <label class="form-check-label" for="type1check">
                            <input type="checkbox" class="form-check-input" name="typeOption" value="Tours" id="type1check">
                            <div class="text-wrapper">
                              Tours 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type2check">
                            <input type="checkbox" class="form-check-input" name="typeOption" value="Talks" id="type2check">
                            <div class="text-wrapper">
                              Talks 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type3check">
                            <input type="checkbox" class="form-check-input" name="typeOption" value="Family activities" id="type3check">
                            <div class="text-wrapper">
                              Family activities
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type4check">
                            <input type="checkbox" class="form-check-input" name="typeOption" value="Exhibitions" id="type4check">
                            <div class="text-wrapper">
                              Exhibitions 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type5check">
                            <input type="checkbox" class="form-check-input" name="typeOption" value="Parties" id="type5check">
                            <div class="text-wrapper">
                              Parties 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type6check">
                            <input type="checkbox" class="form-check-input" name="typeOption" value="Workshops" id="type6check">
                            <div class="text-wrapper">
                              Workshops 
                            </div>
                          </label>
                        </li>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filter" type="button" onclick="clearFiltersDropdown('typeOption')" data-bs-dismiss="dropdown">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyfiltersDropdown('typeOption', document.getElementsByName('typeOption'))" data-bs-dismiss="dropdown">Apply filters</button>
                        </div>
                      </ul>
                <button id="dropdown-filter-location" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside" type="button" class="btn btn-primary filter-btn">Location</button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-filter-location">
                        <div class="dropdown-top-section">
                          <h3 class="dropdown-heading h4">Location</h3>
                          {# <button type="button" class="btn-close" data-bs-toggle="dropdown" aria-label="Close"></button> #}
                        </div>
                        <li class="selection-item">
                          <label class="form-check-label" for="location1check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Norwich Castle" id="location1check">
                            <div class="text-wrapper">
                              Norwich Castle • Norwich 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location2check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Strangers Hall" id="location2check">
                            <div class="text-wrapper">
                              Strangers Hall • Norwich
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location3check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Time & Tide" id="location3check">
                            <div class="text-wrapper">
                              Time & Tide • Great Yarmouth 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location4check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Gressenhall" id="location4check">
                            <div class="text-wrapper">
                              Gressenhall Farm & Workhouse
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location5check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Museum of Norwich" id="location5check">
                            <div class="text-wrapper">
                              Museum of Norwich • Norwich
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location6check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Elizabethan House" id="location6check">
                            <div class="text-wrapper">
                              Elizabethan House • Great Yarmouth
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location7check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Lynn" id="location7check">
                            <div class="text-wrapper">
                              Lynn Museum • King's Lynn
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location8check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Cromer" id="location8check">
                            <div class="text-wrapper">
                              Cromer Museum • Cromer
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location9check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Tolhouse Gaol" id="location9check">
                            <div class="text-wrapper">
                              Tolhouse Gaol • Great Yarmouth
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location10check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Ancient House" id="location10check">
                            <div class="text-wrapper">
                              Ancient House • Thetford
                            </div>
                          </label>
                        </li>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filter" type="button" onclick="clearFiltersDropdown('locationOption')" data-bs-dismiss="dropdown">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyfiltersDropdown('locationOption', document.getElementsByName('locationOption'))" data-bs-dismiss="dropdown">Apply filters</button>
                        </div>
                      </ul>
                <button id="dropdown-filter-audience" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside" type="button" class="btn btn-primary filter-btn">Audience</button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-filter-type">
                        <div class="dropdown-top-section">
                          <h3 class="dropdown-heading h4">Audience</h3>
                          {# <button type="button" class="btn-close" data-bs-toggle="dropdown" aria-label="Close"></button> #}
                        </div>
                        <li class="selection-item">
                          <label class="form-check-label" for="audience1check">
                            <input type="checkbox" class="form-check-input" name="audienceOption" value="All" id="audience1check">
                            <div class="text-wrapper">
                              All audiences 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="audience2check">
                            <input type="checkbox" class="form-check-input" name="audienceOption" value="Adults" id="audience2check">
                            <div class="text-wrapper">
                              Adults focused 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="audience3check">
                            <input type="checkbox" class="form-check-input" name="audienceOption" value="Children" id="audience3check">
                            <div class="text-wrapper">
                              Children focused 
                            </div>
                          </label>
                        </li>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filter" type="button" onclick="clearFiltersDropdown('audienceOption')" data-bs-dismiss="dropdown">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyfiltersDropdown('audienceOption', document.getElementsByName('audienceOption'))" data-bs-dismiss="dropdown">Apply filters</button>
                        </div>
                      </ul>
                <button id="modal-filter-all" type="button" class="btn btn-primary filter-btn filter-btn-all" data-bs-toggle="modal" data-bs-target="#filtersModal">Filters</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Filters Modal -->
<div class="modal fade filters-modal" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="filtersModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <ul class="filter-list">
                        <div class="dropdown-top-section">
                          <h3 class="dropdown-heading h4">Event type</h3>
                        </div>
                        <li class="selection-item">
                          <label class="form-check-label" for="type1check">
                            <input type="checkbox" class="form-check-input" name="typeOptionModal" value="Tours" id="type1check">
                            <div class="text-wrapper">
                              Tours 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type2check">
                            <input type="checkbox" class="form-check-input" name="typeOptionModal" value="Talks" id="type2check">
                            <div class="text-wrapper">
                              Talks 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type3check">
                            <input type="checkbox" class="form-check-input" name="typeOptionModal" value="Family activities" id="type3check">
                            <div class="text-wrapper">
                              Family activities 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type4check">
                            <input type="checkbox" class="form-check-input" name="typeOptionModal" value="Exhibitions" id="type4check">
                            <div class="text-wrapper">
                              Exhibitions 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type5check">
                            <input type="checkbox" class="form-check-input" name="typeOptionModal" value="Parties" id="type5check">
                            <div class="text-wrapper">
                              Parties
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="type6check">
                            <input type="checkbox" class="form-check-input" name="typeOptionModal" value="Workshops" id="type6check">
                            <div class="text-wrapper">
                              Workshops
                            </div>
                          </label>
                        </li>
                      </ul>
                      <ul class="filter-list">
                        <div class="dropdown-top-section">
                          <h3 class="dropdown-heading h4">Location</h3>
                        </div>
                        <li class="selection-item">
                          <label class="form-check-label" for="location1check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Norwich Castle" id="location1check">
                            <div class="text-wrapper">
                              Norwich Castle • Norwich 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location2check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Strangers Hall" id="location2check">
                            <div class="text-wrapper">
                              Strangers Hall • Norwich
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location3check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Time & Tide" id="location3check">
                            <div class="text-wrapper">
                              Time & Tide • Great Yarmouth 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location4check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Gressenhall" id="location4check">
                            <div class="text-wrapper">
                              Gressenhall Farm & Workhouse
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location5check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Museum of Norwich" id="location5check">
                            <div class="text-wrapper">
                              Museum of Norwich • Norwich
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location6check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Elizabethan House" id="location6check">
                            <div class="text-wrapper">
                              Elizabethan House • Great Yarmouth
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location7check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Lynn" id="location7check">
                            <div class="text-wrapper">
                              Lynn Museum • King's Lynn
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location8check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Cromer" id="location8check">
                            <div class="text-wrapper">
                              Cromer Museum • Cromer
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location9check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Tolhouse Gaol" id="location9check">
                            <div class="text-wrapper">
                              Tolhouse Gaol • Great Yarmouth
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="location10check">
                            <input type="checkbox" class="form-check-input" name="locationOptionModal" value="Ancient House" id="location10check">
                            <div class="text-wrapper">
                              Ancient House • Thetford
                            </div>
                          </label>
                        </li>
                      </ul>
                      <ul class="filter-list">
                        <div class="dropdown-top-section">
                          <h3 class="dropdown-heading h4">Audience</h3>
                          {# <button type="button" class="btn-close" data-bs-toggle="dropdown" aria-label="Close"></button> #}
                        </div>
                        <li class="selection-item">
                          <label class="form-check-label" for="audience1check">
                            <input type="checkbox" class="form-check-input" name="audienceOptionModal" value="All" id="audience1check">
                            <div class="text-wrapper">
                              All audiences 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="audience2check">
                            <input type="checkbox" class="form-check-input" name="audienceOptionModal" value="Adults" id="audience2check">
                            <div class="text-wrapper">
                              Adults focused 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="audience3check">
                            <input type="checkbox" class="form-check-input" name="audienceOptionModal" value="Children" id="audience3check">
                            <div class="text-wrapper">
                              Children focused 
                            </div>
                          </label>
                        </li>
                      </ul>
      
      </div>
      <div class="modal-footer">
        <div class="dropdown-bottom-section modal-bottom-section">
          <button class="filter-control-btn clear-filter" type="button" onclick="clearFilters(document.getElementsByName('typeOptionModal'), document.getElementsByName('locationOptionModal'), document.getElementsByName('audienceOptionModal'))" data-bs-dismiss="modal">Clear filters</button>
          <button class="filter-control-btn apply-filter" type="button" onclick="applyFilters(document.getElementsByName('typeOptionModal'), document.getElementsByName('locationOptionModal'), document.getElementsByName('audienceOptionModal'))" data-bs-dismiss="modal">Apply filters</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <section>
    <div class="container">
      <div class="row {{rowDefaults}}" id="page-content">
          <div class="col-12 col-sm-6 col-lg-4" id="result-1-wrapper">
            {{ generalcard.generalcard("Where's Wookie?", 'Time & Tide • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', 'The Wookies have gone into hiding as they spotted Storm Troopers in our exhibition. Can you help us find them amongst our collections?', 'museums-events/event1.jpg', '/example-event/', 'card-light museum-card time-and-tide', '1') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-2-wrapper">
            {{ generalcard.generalcard('A Fish Tail Trail', 'Cromer Museum • Cromer', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', "It's not Nemo that needs to be found this time, but our local fishy friends. Help them find their tails (and claws) which have been scattered around the museum and learn some fin-tastic facts.", 'museums-events/event2.jpg', '/example-event/', 'card-light museum-card cromer', '2') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-3-wrapper">
            {{ generalcard.generalcard('How to be an Elizabethan Trail', 'Elizabethan House • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', 'A Beginners guide to the “Golden Age” Ever wanted to know how to fit into Elizabethan society? Well this is your perfect starter guide! Follow the trail to find out some fantastic facts.', 'museums-events/event3.jpg', '/example-event/', 'card-light museum-card elizabethan', '3') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-4-wrapper">
            {{ generalcard.generalcard("Where's Wookie?", 'Time & Tide • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', "The Wookies have gone into hiding as they spotted Storm Troopers in our exhibition. Can you help us find them amongst our collections?", 'museums-events/event1.jpg', '/example-event/', 'card-light museum-card time-and-tide', '4') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-5-wrapper">
            {{ generalcard.generalcard('How to be an Elizabethan Trail', 'Elizabethan House • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', 'A Beginners guide to the “Golden Age” Ever wanted to know how to fit into Elizabethan society? Well this is your perfect starter guide! Follow the trail to find out some fantastic facts.', 'museums-events/event3.jpg', '/example-event/', 'card-light museum-card elizabethan', '5') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-6-wrapper">
            {{ generalcard.generalcard('A Fish Tail Trail', 'Cromer Museum • Cromer', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', "It's not Nemo that needs to be found this time, but our local fishy friends. Help them find their tails (and claws) which have been scattered around the museum and learn some fin-tastic facts.", 'museums-events/event2.jpg', '/example-event/', 'card-light museum-card cromer', '6') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-7-wrapper">
            {{ generalcard.generalcard('A Fish Tail Trail', 'Cromer Museum • Cromer', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', "It's not Nemo that needs to be found this time, but our local fishy friends. Help them find their tails (and claws) which have been scattered around the museum and learn some fin-tastic facts.", 'museums-events/event2.jpg', '/example-event/', 'card-light museum-card cromer', '7') }}
          </div>
          <div class="col-12 col-sm-6 col-lg-4" id="result-8-wrapper">
            {{ generalcard.generalcard("Where's Wookie?", 'Time & Tide • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', '', "The Wookies have gone into hiding as they spotted Storm Troopers in our exhibition. Can you help us find them amongst our collections?", 'museums-events/event1.jpg', '/example-event/', 'card-light museum-card time-and-tide', '8') }}
          </div>
      </div>

      <div class="d-flex justify-content-center">
        <nav aria-label="Acle library events pagination"> 
          <ul class="pagination libraries-pagination">
            <li id="page-prev-link" class="page-item disabled">
              <button class="page-link" onclick="prevPage()" tabindex="-1">Previous</button>
            </li>
            <li id="page1-link" class="page-item active">
              <button class="page-link" onclick="showPage(1)">1</button>
            </li>
            <li id="page2-link" class="page-item">
              <button class="page-link" onclick="showPage(2)">2</button>
            </li>
            <li id="page3-link" class="page-item">
              <button class="page-link" onclick="showPage(3)">3</button>
            </li>
            <li id="page-next-link" class="page-item">
              <button class="page-link" onclick="nextPage()">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <script>

    // PAGINATION /////////////////////////////////////////////////// 

    const RESULTS_WRAPPER = document.getElementById('page-content');

    const LINK1 = document.getElementById("page1-link");
    const LINK2 = document.getElementById("page2-link");
    const LINK3 = document.getElementById("page3-link");

    const LINK_PREV = document.getElementById("page-prev-link");
    const LINK_NEXT = document.getElementById("page-next-link");

    function showResults(start, end) {
      let results = RESULTS_WRAPPER.children;
      console.log(`number of resuts= ${results.length}`);

      for (i = 0; i < results.length; i++) {
        if (i >= start && i < end) {
          results[i].style.display = 'block'; 
        } else {
          results[i].style.display = 'none';
        }
      }
      filterResults();
    }

    let currentPage = 1;

    function nextPage() {
      if (currentPage >= 3) return;
      showPage(currentPage + 1);
    }

    function prevPage() {
      if (currentPage <= 1) return;
      showPage(currentPage - 1);
    }

    function showPage(pageNum) {
      if (pageNum == 1) {
        LINK1.classList.add("active");
        LINK2.classList.remove("active");
        LINK3.classList.remove("active");

        LINK_PREV.classList.add("disabled");
        LINK_PREV.firstElementChild.tabIndex="-1";
        LINK_NEXT.classList.remove("disabled");
        LINK_NEXT.firstElementChild.tabIndex="0";
        
        currentPage = 1;
        showResults(0,3);
        RESULTS_WRAPPER.scrollIntoView();
        //page1.getElementsByTagName('a')[0].focus();
      } else if (pageNum == 2) {
        LINK1.classList.remove("active");
        LINK2.classList.add("active");
        LINK3.classList.remove("active");

        LINK_PREV.classList.remove("disabled");
        LINK_PREV.firstElementChild.tabIndex="0";
        LINK_NEXT.classList.remove("disabled");
        LINK_NEXT.firstElementChild.tabIndex="0";
        
        currentPage = 2;
        showResults(3,6);
        RESULTS_WRAPPER.scrollIntoView();
        //page2.getElementsByTagName('a')[0].focus();
      } else if (pageNum == 3) {
        LINK1.classList.remove("active");
        LINK2.classList.remove("active");
        LINK3.classList.add("active");

        LINK_PREV.classList.remove("disabled");
        LINK_PREV.firstElementChild.tabIndex="0";
        LINK_NEXT.classList.add("disabled");
        LINK_NEXT.firstElementChild.tabIndex="-1";

        currentPage = 3;
        showResults(6,8)
        RESULTS_WRAPPER.scrollIntoView();
        //page3.getElementsByTagName('a')[0].focus();
      } else {
        console.log("pagination error");
      }
    }

    // FILTERS //////////////////////////////////

    function filterResults() {
      // location
      const locationCookie = getCookie('locationSelections');
      if (locationCookie == '') {
        console.log('no locations specified');
        const results = RESULTS_WRAPPER.children;
        Array.from(results).forEach(function (r) {
          r.style.display = 'block';
        });
      } else {
        const locations = locationCookie.split(","); // [Time & Tide, Cromer]
        const results = RESULTS_WRAPPER.children;
        // for each result, extract location text content ( #result-X-location )
        // see if text content includes any of the locations

        Array.from(results).forEach(function (r) {
          r.style.display = 'none';
          const idString = r.id.split("-");
          const num = idString[1];
          const locationEl = document.getElementById(`result-${num}-location`);
          locations.forEach(function (loc) {
            if (locationEl.textContent.includes(loc)) {
              r.style.display = 'block';
              return;
            }
          });
        });
      }
    }

    // COOKIES //////////////////////////////////

    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

  </script>

{% endblock %}