{% set title = "Advanced search - Museums Events" %}

{% extends "template.njk" %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% block main %}
  <section aria-labelledby="search-title" class="museums-events-stage advanced-search-stage" style="background: linear-gradient(to right, rgba(0, 35, 93, 0.8), rgba(0, 35, 93, 0.8)), url('/museums-events/public/img/stage-img-1.jpg');">
    <div class="container">
      <div class="stage-search">
        <h1 id="search-title" class="text-center mt-md-3 mb-md-4">Museums event search</h1>
        <form id="main-search-form" class="form-inline d-flex stage-search" onsubmit="advancedSearchLink()">
          <input id="home-search-input" class="form-control mr-sm-2" type="text" placeholder="For example &quot;Tours&quot;" aria-label="Search">
          <button id="home-search-button" class="btn btn-outline-light home-search-btn d-inline-flex" type="button" onclick="advancedSearchLink()"><span class="search-text-long">Search events</span><span class="search-text-short">Search</span></button>
        </form>
        <h2 class="h4 my-3">Refine</h2>
        <div class="filters-wrapper">
          <div class="duet-wrapper">
            <duet-date-picker id="date" identifier="date" min="2022-01-01" max="2022-12-31"></duet-date-picker>
          </div>
          <button id="dropdown-filter-type" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside" type="button" class="btn btn-primary filter-btn">Type<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"><path d="M1.41 0.0799561L6 4.66996L10.59 0.0799561L12 1.49996L6 7.49996L0 1.49996L1.41 0.0799561Z" fill="black"/></svg></button>
          <ul id="dropdown-menu-type" class="dropdown-menu" aria-labelledby="dropdown-filter-type">
            <div class="dropdown-top-section">
              <h3 class="dropdown-heading h4">Event type</h3>
              <button id="closedropdown-type" type="button" class="btn-close btn-dismiss-dropdown" aria-label="Close"></button>
            </div>
            <li class="selection-item">
              <a href="#" onclick="browseType('Tours');return false;">Tours</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseType('Talks');return false;">Talks</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseType('Family activities');return false;">Family activities</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseType('Exhibitions');return false;">Exhibitions</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseType('Parties');return false;">Parties</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseType('Workshops');return false;">Workshops</a>
            </li>
          </ul>
          <button id="dropdown-filter-location" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside" type="button" class="btn btn-primary filter-btn">Location<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"><path d="M1.41 0.0799561L6 4.66996L10.59 0.0799561L12 1.49996L6 7.49996L0 1.49996L1.41 0.0799561Z" fill="black"/></svg></button>
          <ul id="dropdown-menu-location" class="dropdown-menu" aria-labelledby="dropdown-filter-location" onclick="applyfiltersDropdown('locationOption', document.getElementsByName('locationOption'))">
            <div class="dropdown-top-section">
              <h3 class="dropdown-heading h4">Location</h3>
              <button id="closedropdown-location" type="button" class="btn-close btn-dismiss-dropdown" aria-label="Close"></button>
            </div>
            <li class="selection-item">
              <label class="form-check-label" for="location0check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Online" id="location0check">
                Online
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location6check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Elizabethan House" id="location6check">
                Elizabethan House • Great Yarmouth
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location3check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Time & Tide" id="location3check">
                Time & Tide • Great Yarmouth 
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location9check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Tolhouse Gaol" id="location9check">
                Tolhouse Gaol • Great Yarmouth
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location5check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Museum of Norwich" id="location5check">
                Museum of Norwich • Norwich
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location1check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Norwich Castle" id="location1check">
                Norwich Castle • Norwich 
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location2check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Strangers' Hall" id="location2check">
                Strangers' Hall • Norwich
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location8check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Cromer" id="location8check">
                Cromer Museum • Cromer
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location4check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Gressenhall" id="location4check">
                Gressenhall Farm & Workhouse • Dereham
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location7check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Lynn" id="location7check">
                Lynn Museum • King's Lynn
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location10check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Ancient House" id="location10check">
                Ancient House • Thetford
              </label>
            </li>
            <li class="selection-item">
              <label class="form-check-label" for="location11check">
                <input type="checkbox" class="form-check-input" name="locationOption" value="Dereham Library" id="location11check">
                Dereham Library • Dereham
              </label>
            </li>
          </ul>
          <button id="dropdown-filter-audience" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside" type="button" class="btn btn-primary filter-btn">Audience<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"><path d="M1.41 0.0799561L6 4.66996L10.59 0.0799561L12 1.49996L6 7.49996L0 1.49996L1.41 0.0799561Z" fill="black"/></svg></button>
          <ul id="dropdown-menu-audience" class="dropdown-menu" aria-labelledby="dropdown-filter-type">
            <div class="dropdown-top-section">
              <h3 class="dropdown-heading h4">Audience</h3>
              <button id="closedropdown-audience" type="button" class="btn-close btn-dismiss-dropdown" aria-label="Close"></button>
            </div>
            <li class="selection-item">
              <a href="#" onclick="browseAudience('All');return false;">All</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseAudience('Adults');return false;">Adults focused</a>
            </li>
            <li class="selection-item">
              <a href="#" onclick="browseAudience('Children');return false;">Children focused</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div id="filter-bar-section" class="filters-section py-3">
    <div class="container">
      <div class="filters-bar">
          <div class="d-flex flex-wrap">
            <span id="fliter-bar-infotext" class="me-3">Showing results for:</span>
            <ul id="filter-dismiss-list" class="filter-dismiss">
            </ul>
          </div>
          <div id="dismiss-all-wrapper" class="dismiss-all">
            <a role="button" href="#" class="me-2" onclick="clearFilters();return false;">Clear Filters</a>
          </div>
      </div>
    </div>
  </div>


  <section>
    <div class="container">
      <h2 id="search-indicator" class="m0"></h3>
      <h3 id="multi-filter-indicator" class="m0"></h3>
      <h2 id="result-number-indicator" class="h3" aria-live="polite"></h2>
      <div class="row {{rowDefaults}}" id="page-content">

        <div class="col-12 col-sm-6 col-lg-4" id="result-10-wrapper">
          {{ generalcard.generalcard("Fighting Gallery Tour", 'Norwich Castle • Norwich', 'Friday 1 April 2022 • 13:00 - 13:30', 'from £2.80', 'All', 'Join our costumed Knight for a journey through the castle’s defensive past. Check out the medieval graffiti and stonemason’s remarks, learn how the castle survived under siege, and get behind the scenes as we take you into the mysterious fighting gallery.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '10', 'Apr', '1', 'Tours') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-11-wrapper">
          {{ generalcard.generalcard("The Many roles of", 'Norwich Castle • Norwich', 'Tuesday 3 May 2022 • 12:30 - 13:00', 'Free', 'Adult', 'With author Frank Meeres of the Norfolk Record Office. Norwich Castle, Town Close Auditorium.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '11', 'May', '3', 'Talks') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-12-wrapper">
          {{ generalcard.generalcard("Bewitched: The Witches School for Cats", 'Norwich Castle • Norwich', 'Saturday 14 May 2022 • 12:00 - 12:30', 'Free', 'All', 'Join Susie the friendly witch for our bewitching school for cats, slinking and pouncing and meowing practice galore! Suitable for all the family.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '12', 'May', '14', 'Family activities') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-13-wrapper">
          {{ generalcard.generalcard("Creepy Cromer", 'Cromer Museum • Cromer', 'Wednesday 26 October 2022 • 12:00 - 12:30', 'Free', 'All', 'Get in the mood for Halloween, with this creepy craft event. Make decorations to take home and hear spooky local stories. No activities between noon and 1pm.', 'museums-events/workshops.jpg', '/example-event/', 'card-light museum-card cromer', '13', 'Oct', '26', 'Family activities') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-14-wrapper">
          {{ generalcard.generalcard("Mystic Medicine", 'Elizabethan House • Great Yarmouth', 'Sunday 30 October 2022 • 11:00 - 16:00', 'Free', 'All', 'Learn about peculiar (and terrifying) historical remedies from the past. This is the go-to-guide for how NOT to seek medical relief!', 'museums-events/workshops.jpg', '/example-event/', 'card-light museum-card elizabethan', '14', 'Oct', '30', 'Family activities') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-15-wrapper">
          {{ generalcard.generalcard("Myths and Legends", "Lynn Museum • King's Lynn", 'Tuesday 25 October 2022 • 10:30 - 13:00', 'Free', 'All', 'Get hands-on with our collections, enjoy storytelling and get creative with crafts.', 'museums-events/activities.jpg', '/example-event/', 'card-light museum-card lynn', '15', 'Oct', '25', 'Workshops') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-16-wrapper">
          {{ generalcard.generalcard("Coffee Cake and Collections", "Lynn Museum • King's Lynn", 'Wednesday 26 October 2022 • 10:30 - 12:00', '£1, members free', 'Adults', 'Join us to find out more about our collections over coffee and cake.', 'museums-events/tours.jpg', '/example-event/', 'card-light museum-card lynn', '16', 'Oct', '26', 'Workshops') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-17-wrapper">
          {{ generalcard.generalcard("Little Lives: Snapshots of childhood from 1800 to the present", "Lynn Museum • King's Lynn", 'Saturday 24 September 2022 • 10:00 - 17:00', 'Free', 'All', 'This exhibition touches on the stories of childhood over the last two centuries. Childhood objects from the museum collections together with photographs and paintings often snapshots of the changing experience of childhood.', 'museums-events/exhibitions.jpg', '/example-event/', 'card-light museum-card lynn', '17', 'Sep', '24', 'Exhibitions') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-1-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 5 December 2022 • 13:15 - 14:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '1', 'Dec', '5', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-2-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 5 December 2022 • 14:15 - 15:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '2', 'Dec', '5', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-3-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 5 December 2022 • 15:15 - 16:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '3', 'Dec', '5', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-4-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 12 December 2022 • 13:15 - 14:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '4', 'Dec', '12', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-5-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 12 December 2022 • 14:15 - 15:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '5', 'Dec', '12', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-6-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 12 December 2022 • 15:15 - 16:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '6', 'Dec', '12', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-7-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 19 December 2022 • 13:15 - 14:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '7', 'Dec', '19', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-8-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 19 December 2022 • 14:15 - 15:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '8', 'Dec', '19', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-9-wrapper">
          {{ generalcard.generalcard("St Nicholas and the Wishing Tree", "Strangers' Hall • Norwich", 'Monday 19 December 2022 • 15:15 - 16:00', '£7', 'All', 'Take a seat and immerse yourself in the magic of Christmas in our beautifully decorated Great Hall. Be entertained by Fool’s Puppet Theatre Company and their delightful tale of St Nicholas and the Wishing Tree, with hurdy-gurdy musical accompaniment.', 'museums-events/strangers-hall.jpg', '/example-event/', 'card-light museum-card strangers-hall', '9', 'Dec', '19', 'Exhibitions') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-18-wrapper">
          {{ generalcard.generalcard("Apple Tree Pruning", 'Gressenhall Farm and Workhouse • Dereham', 'Friday 20 May 2022 • 10:00 - 15:00', '£50', 'Adults', 'Learn how to prune apple trees with our resident expert. Ticket price includes a hot lunch and all equipment.', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '18', 'May', '20', 'Workshops') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-19-wrapper">
          {{ generalcard.generalcard("Collections Centre Tour", 'Gressenhall Farm and Workhouse • Dereham', 'Wednesday 1 June 2022 • 10:30 - 11:30', 'Free', 'Adults', 'Take a tour of our collections centre - some of the star objects include the West Runton mammoth, the famous Norwich Snap Dragons, a mustard stamper used to crush mustard seeds at the Colman’s factory in the 19th century.', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '19', 'Jun', '1', 'Tours') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-20-wrapper">
          {{ generalcard.generalcard("Collections Centre Tour", 'Gressenhall Farm and Workhouse • Dereham', 'Wednesday 1 June 2022 • 11:30 - 12:30', 'Free', 'Adults', 'Take a tour of our collections centre - some of the star objects include the West Runton mammoth, the famous Norwich Snap Dragons, a mustard stamper used to crush mustard seeds at the Colman’s factory in the 19th century.', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '20', 'Jun', '1', 'Tours') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-21-wrapper">
          {{ generalcard.generalcard("Collections Centre Tour", 'Gressenhall Farm and Workhouse • Dereham', 'Wednesday 1 June 2022 • 13:30 - 14:30', 'Free', 'Adults', 'Take a tour of our collections centre - some of the star objects include the West Runton mammoth, the famous Norwich Snap Dragons, a mustard stamper used to crush mustard seeds at the Colman’s factory in the 19th century.', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '21', 'Jun', '1', 'Tours') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-22-wrapper">
          {{ generalcard.generalcard("Living History Day", 'Gressenhall Farm and Workhouse • Dereham', 'Friday 1 July 2022 • 10:00 - 17:00', 'Adult £20 Child £15', 'All', 'Meet costumed characters, see vintage cars, browse the produce marquee and have a go on our vintage fairground (fairground rides cost extra).', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '22', 'Jul', '1', 'Exhibitions') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-23-wrapper">
          {{ generalcard.generalcard("Mini Museum Club", 'Ancient House • Thetford', 'Thursday 27 October 2022 • 10:30 - 11:30', 'Child 50p Adult free', 'Children', 'This month we’re focusing on dinosaurs! Join us to sing, play, and get creative in the museum.', 'museums-events/whats-on-3.jpg', '/example-event/', 'card-light museum-card ancient-house', '23', 'Oct', '27', 'Exhibitions') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-24-wrapper">
          {{ generalcard.generalcard("Ghostly Gressenhall", 'Gressenhall Farm and Workhouse • Dereham', 'Friday 28 October 2022 • 18:00 - 20:00', '£6', 'Children', 'A halloween party for all your little witches and warlocks.', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '24', 'Oct', '28', 'Parties') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-25-wrapper">
          {{ generalcard.generalcard("Ghostly Gressenhall", 'Gressenhall Farm and Workhouse • Dereham', 'Saturday 29 October 2022 • 18:00 - 20:00', '£6', 'Children', 'A halloween party for all your little witches and warlocks.', 'museums-events/ghfw.jpg', '/example-event/', 'card-light museum-card gressenhall', '25', 'Oct', '29', 'Parties') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-26-wrapper">
          {{ generalcard.generalcard("Knit and Knatter", 'Ancient House • Thetford', 'Tuseday 2 August 2022 • 10:30 - 12:00', '£2, museums pass £1', 'Adults', 'Join us to knit, chat and have a cuppa. Booking essential.', 'museums-events/whats-on-3.jpg', '/example-event/', 'card-light museum-card ancient-house', '26', 'Aug', '2', 'Workshops') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-27-wrapper">
          {{ generalcard.generalcard("Knit and Knatter", 'Ancient House • Thetford', 'Thursday 11 August 2022 • 13:30 - 15:00', '£2, museums pass £1', 'Adults', 'Join us to knit, chat and have a cuppa. Booking essential.', 'museums-events/whats-on-3.jpg', '/example-event/', 'card-light museum-card ancient-house', '27', 'Aug', '11', 'Workshops') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-28-wrapper">
          {{ generalcard.generalcard("Talking Textiles: Think Pink", 'Norwich Castle • Norwich', 'Thursday 12 April 2022 • 11:00 - 12:30', '£8', 'Adults', 'A look at the changing meanings and associations of the colour pink - from 18th century Rococo gowns, to the height of the Victorian craze for synthetic dyes.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '28', 'Apr', '12', 'Workshops') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-29-wrapper">
          {{ generalcard.generalcard("Princess Sophia - Online Talk", 'Online', 'Tuesday 12 July 2022 • 19:00 - 20:00', '£5 per device', 'Adults', 'Online talk discussing the life of Princess Sophia Duleep Singh. The Zoom link will be sent by email after booking.', 'museums-events/online.jpg', '/example-event/', 'card-light museum-card online', '29', 'Jul', '12', 'Talks') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-30-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Wednesday 21 December 2022 • 11:00 - 12:00', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '30', 'Dec', '21', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-31-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Wednesday 21 December 2022 • 12:30 - 13:30', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '31', 'Dec', '21', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-32-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Wednesday 21 December 2022 • 14:00 - 15:00', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '32', 'Dec', '21', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-33-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Thursday 22 December 2022 • 11:00 - 12:00', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '33', 'Dec', '22', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-34-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Thursday 22 December 2022 • 12:30 - 13:30', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '34', 'Dec', '22', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-35-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Thursday 22 December 2022 • 14:00 - 15:00', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '35', 'Dec', '22', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-36-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Wednesday 28 December 2022 • 11:00 - 12:00', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '36', 'Dec', '28', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-37-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Wednesday 28 December 2022 • 12:30 - 13:30', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '37', 'Dec', '28', 'Exhibitions') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-38-wrapper">
          {{ generalcard.generalcard("The Story of the King", 'Norwich Castle • Norwich', 'Wednesday 28 December 2022 • 14:00 - 15:00', '£6.70', 'All', 'King Henry 1 and Queen Adleiza look back upon their visit to Norwich Castle in the Christmas of 1121. What do they remember..and will they actually agree? Join us for this affectionate and playful exploration of the reality of this royal visit. Your event ticket also includes museum admission up to 1 hour before the event time.', 'museums-events/norwich-castle.jpg', '/example-event/', 'card-light museum-card norwich-castle', '38', 'Dec', '28', 'Exhibitions') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-4" id="result-39-wrapper">
          {{ generalcard.generalcard('A Fish Tail Trail', 'Cromer Museum • Cromer', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', 'All', "It's not Nemo that needs to be found this time, but our local fishy friends. Help them find their tails (and claws) which have been scattered around the museum and learn some fin-tastic facts.", 'museums-events/event2.jpg', '/example-event/', 'card-light museum-card cromer', '39', 'May', '17', 'Family activities') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-40-wrapper">
          {{ generalcard.generalcard('How to be an Elizabethan Trail', 'Elizabethan House • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', 'All', 'A Beginners guide to the “Golden Age” Ever wanted to know how to fit into Elizabethan society? Well this is your perfect starter guide! Follow the trail to find out some fantastic facts.', 'museums-events/event3.jpg', '/example-event/', 'card-light museum-card elizabethan', '40', 'May', '17', 'Tours') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-41-wrapper">
          {{ generalcard.generalcard("Where's Wookie?", 'Time & Tide • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', 'All', "The Wookies have gone into hiding as they spotted Storm Troopers in our exhibition. Can you help us find them amongst our collections?", 'museums-events/event1.jpg', '/example-event/', 'card-light museum-card time-and-tide', '41', 'May', '17', 'Family activities') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-42-wrapper">
          {{ generalcard.generalcard('How to be an Elizabethan Trail', 'Elizabethan House • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', 'All', 'A Beginners guide to the “Golden Age” Ever wanted to know how to fit into Elizabethan society? Well this is your perfect starter guide! Follow the trail to find out some fantastic facts.', 'museums-events/event3.jpg', '/example-event/', 'card-light museum-card elizabethan', '42', 'May', '17', 'Tours') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-43-wrapper">
          {{ generalcard.generalcard('A Fish Tail Trail', 'Cromer Museum • Cromer', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', 'All', "It's not Nemo that needs to be found this time, but our local fishy friends. Help them find their tails (and claws) which have been scattered around the museum and learn some fin-tastic facts.", 'museums-events/event2.jpg', '/example-event/', 'card-light museum-card cromer', '43', 'May', '17', 'Family activities') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-44-wrapper">
          {{ generalcard.generalcard('A Fish Tail Trail', 'Cromer Museum • Cromer', 'Monday 25 June 2021 • 10:00 - 16:00', 'Free', 'All', "It's not Nemo that needs to be found this time, but our local fishy friends. Help them find their tails (and claws) which have been scattered around the museum and learn some fin-tastic facts.", 'museums-events/event2.jpg', '/example-event/', 'card-light museum-card cromer', '44', 'Jun', '25', 'Family activities') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-45-wrapper">
          {{ generalcard.generalcard("Where's Wookie?", 'Time & Tide • Great Yarmouth', 'Monday 17 May 2021 • 10:00 - 16:00', 'Free', 'All', "The Wookies have gone into hiding as they spotted Storm Troopers in our exhibition. Can you help us find them amongst our collections?", 'museums-events/event1.jpg', '/example-event/', 'card-light museum-card time-and-tide', '45', 'May', '17', 'Family activities') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-46-wrapper">
          {{ generalcard.generalcard("Just a Cuppa", 'Dereham Library • Dereham', 'Tuesday 27 September 2022 • 10:30 - 12:00', 'Free', 'All', "Fancy making some new friends, or just to have a good old chat?", 'museums-events/cuppa.jpg', '/example-event/', 'card-light museum-card gressenhall', '46', 'Sep', '27', 'Workshops') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-47-wrapper">
          {{ generalcard.generalcard("Digital Support", 'Dereham Library • Dereham', 'Tuesday 27 September 2022 • 15:00 - 16:00', 'Free', 'All', "Face to face one to one digital help with getting online from setting up an email to job seeking online and searching the internet. 30 minute or 1 hour session available.", 'museums-events/digital-support.jpg', '/example-event/', 'card-light museum-card gressenhall', '47', 'Sep', '27', 'Workshops') }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4" id="result-48-wrapper">
          {{ generalcard.generalcard("Bounce and Rhyme", 'Dereham Library • Dereham', 'Wednesday 28 September 2022 • 10:30 - 11:00', 'Free', 'Children', "Songs and rhymes for babies, toddlers and their parents and carers.", 'museums-events/bounce-and-rhyme.jpg', '/example-event/', 'card-light museum-card gressenhall', '48', 'Sep', '28', 'Family activities') }}
        </div>
      </div>

    </div>
  </section>

  <script>

    window.onload = function() {
      fillFields();
      updateSelections();
      giveOnclickEvent();

      const searched = getCookie('goToFilters');
      if (searched === 'yes') {
        document.querySelector('.duet-date__input').focus();
      }
      setCookie('goToFilters', '', 1);
    }

    // DROPDOWN TOGGLE //////////////////////////////////////////////

    const dropdownDismissBtns = document.querySelectorAll('.btn-dismiss-dropdown');
    const dropdowns = document.querySelectorAll('.dropdown-menu');

    const dismissDropdowns = function(btnID) {
      const id = btnID.split('-');
      const dropdownID = id[1];
      console.log(`ID = ${dropdownID}`);

      const dropdownMenu = document.querySelector(`#dropdown-menu-${dropdownID}`);
      console.log(`before`);
      console.log(dropdownMenu);
      dropdownMenu.classList.remove('show');
      console.log(`after`);
      console.log(dropdownMenu);

      const dropdownToggleBtn = document.querySelector(`#dropdown-filter-${dropdownID}`);
      dropdownToggleBtn.classList.remove('show');
      dropdownToggleBtn.setAttribute('aria-expanded', 'false');
    }

    const giveOnclickEvent = function() {
      dropdownDismissBtns.forEach(b => b.onclick = function() { dismissDropdowns(b.id); });
    }

    // PAGINATION /////////////////////////////////////////////////// 

    const RESULTS_WRAPPER = document.getElementById('page-content');

    const SEARCH_INDICATOR = document.getElementById('search-indicator');
    const FILTER_INDICATOR = document.getElementById('multi-filter-indicator');

    const RESULT_NUM_INDICATOR = document.getElementById('result-number-indicator');

    let resultNum = 0;

    function fillFields() {
      const dateCookie = getCookie('date');
      const searchCookie = getCookie('searchQuery');

      SEARCH_INPUT.value = searchCookie;
      DATE.value = dateCookie;
    }

    // FILTERS //////////////////////////////////

    function filterResults() {
      const searchCookie = getCookie('searchQuery');
      const typeCookie = getCookie('typeSelections');
      const locationCookie = getCookie('locationSelections');
      const audienceCookie = getCookie('audienceSelections');
      const dateCookie = getCookie('date');

      const results = RESULTS_WRAPPER.children;

      resultNum = 0; // resetting filter num before updating

      if (typeCookie == '' && locationCookie == '' && audienceCookie == '' && searchCookie == '' && dateCookie == '') {
        console.log('no filters specified');
        [...results].forEach(function (r) {
          r.style.display = 'block';
          resultNum++;
        });
      } else {
        [...results].forEach(function (r) {
          let showResult = false;
          r.style.display = 'none';
          const idString = r.id.split("-");
          const num = idString[1];
          if (checkType(num, typeCookie) && checkLocation(num, locationCookie) && checkAudience(num, audienceCookie)) {
            r.style.display = 'block';
            showResult = true;
            //console.log(`${r.id} passed either type, location or audience. showing`);
          }
          if (searchCookie != '') {
            //console.log("search field not empty, refining...");
            // SEARCH_INDICATOR.textContent = `Searching by "${searchCookie}":`;
            if (!checkSearch(num, searchCookie)) {
              r.style.display = 'none';     
              showResult = false;
              //console.log(`${r.id} failed search. hiding`);
            } else {
              //console.log(`${r.id} passed search. showing`);
            }
          }
          if (!checkDate(num, dateCookie)) {
            r.style.display = 'none';
            showResult = false;
            //console.log(`${r.id} failed date. hiding`);
          } else {
            //console.log(`${r.id} passed date. showing`);
          }

          if (showResult) {
            resultNum++;
          }
        });
      }

      RESULT_NUM_INDICATOR.textContent = `${resultNum} events found.`;

      let typeNum = typeCookie.split(",").length;
      let locNum = locationCookie.split(",").length;
      let audNum = audienceCookie.split(",").length;

      // flags
      let queryFlag = false;
      let noTypes = false;
      let noLocs = false;
      let noAuds = false;

      if (typeCookie == '') {
        noTypes = true;
        typeNum = 0;
      }
      if (locationCookie == '') {
        noLocs = true;
        locNum = 0;
      }
      if (audienceCookie == '') {
        noAuds = true;
        audNum = 0;
      }

      let nFilters = typeNum + locNum + audNum;

      let filterString = `Searching`;

      if (searchCookie != '') {
        queryFlag = true;
        filterString = filterString.concat(` by "${searchCookie}"`);
      }

      if (nFilters > 1) {
        filterString = filterString.concat(` with multiple filters`);
      } else if (!noTypes && noLocs && noAuds) {
        filterString = filterString.concat(` ${queryFlag ? `with` : `by`} type "${typeCookie}"`);
      } else if (!noLocs && noTypes && noAuds) {
        filterString = filterString.concat(` ${queryFlag ? `with` : `by`} location "${locationCookie}"`);
      } else if (!noAuds && noTypes && noLocs) {
        filterString = filterString.concat(` ${queryFlag ? `with` : `by`} audience "${audienceCookie}"`);
      }

      if (dateCookie != '') {
        filterString = filterString.concat(` in a date range`);
      }

      //if (filterString === `Searching`) {
      //  filterString = `Showing all results`;
      //}
      if (filterString === `Searching`) {
        clearFiltersBar(true);
      } else {
        clearFiltersBar(false);
      }


      filterString = filterString.concat(`:`);
      //FILTER_INDICATOR.textContent = filterString;
    }

    const clearFiltersBar = function(clear) {
      const filterBarText = document.getElementById('fliter-bar-infotext');
      const clearFiltersBtn = document.getElementById('dismiss-all-wrapper');
      
      if (clear) {
        filterBarText.textContent = `All results`;
        clearFiltersBtn.style.display = `None`;
      } else {
        filterBarText.textContent = `Results for:`;
        clearFiltersBtn.style.display = `Block`;
      }
    }

    function checkDate(n, cDate) {
      if (cDate == '') {
        return true;
      }

      // YYYY-MM-DD
      const date = cDate.split("-");

      const dateM = Number(date[1]);
      const dateD = Number(date[2]);

      const monthEl = document.getElementById(`result-${n}-month`);
      const dayEl = document.getElementById(`result-${n}-day`);
      let month = 0;
      let day = +dayEl.textContent; // the '+' converts from a string to a number :)

      switch (monthEl.textContent) {
        case 'Jan': month = 1; break;
        case 'Feb': month = 2; break;
        case 'Mar': month = 3; break;
        case 'Apr': month = 4; break;
        case 'May': month = 5; break;
        case 'Jun': month = 6; break;
        case 'Jul': month = 7; break;
        case 'Aug': month = 8; break;
        case 'Sep': month = 9; break;
        case 'Oct': month = 10; break;
        case 'Nov': month = 11; break;
        case 'Dec': month = 12; break;
        default: console.error(`invalid month`);
      }

      console.log(`checking date ${dateM}=${month} and ${dateD}=${day}`);

      return (dateM === month && dateD === day);
    }

    function checkSearch(n, cookie) {
      if (cookie == '')
        return true;
      const typeEl = document.getElementById(`result-${n}-type`);
      const locationEl = document.getElementById(`result-${n}-location`);
      const titleEl = document.getElementById(`result-${n}-title`);
      const descEl = document.getElementById(`result-${n}-desc`);
      let match = false;
      return typeEl.textContent.toLowerCase().includes(cookie.toLowerCase())
          || locationEl.textContent.toLowerCase().includes(cookie.toLowerCase()) 
          || titleEl.textContent.toLowerCase().includes(cookie.toLowerCase())
          || descEl.textContent.toLowerCase().includes(cookie.toLowerCase());
    }

    function checkType(n, cookie) {
      const types = cookie.split(","); // [Talks, Exhibitions]
      if (types == '')
        return true;
      const typeEl = document.getElementById(`result-${n}-type`);
      let match = false;
      types.forEach(function (type) {
        if (typeEl.textContent.includes(type)) {
          match = true;
        }
      });
      return match;
    }

    function checkLocation(n, cookie) {
      const locations = cookie.split(","); // [Time & Tide, Cromer]
      if (locations == '')
        return true;
      const locationEl = document.getElementById(`result-${n}-location`);
      let match = false;
      locations.forEach(function (loc) {
        if (locationEl.textContent.includes(loc)) {
          match = true;
        }
      });
      return match;
    }

    function checkAudience(n, cookie) {
      const audiences = cookie.split(","); // [Children]
      if (audiences == '' || audiences.includes('All'))
        return true;
      const audienceEl = document.getElementById(`result-${n}-audience`);
      let match = false;
      audiences.forEach(function (aud) {
        if (audienceEl.textContent.includes(aud)) {
          match = true;
        }
      });
      return match;
    }

    // COOKIES //////////////////////////////////

    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

  </script>

{% endblock %}